/*Flexbox Grid*/
.cols{
    display: flex;
    flex-direction: column;
}
.rows{
    display: flex;
    flex-direction: row;

}

.centered{
    justify-content: center;
}
.spread{
    justify-content: space-between;
}
