.bubble{
    background-color: white;

    margin: 0.1em;
    padding: 1em;

    border-bottom-style: solid;
    border-width: 2px;
    border-radius: 5px;

    box-shadow: 2px 1px black;
}

.left{
    text-align: left;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}

.title{
    justify-content: center;
    text-align: center;
}

body{
    background-color: rgb(51, 204, 255);
    padding: 1em;
}

hr{
    margin: 0.4em 0 0.4em 0;
}

ul{
    margin: 0.2em;
}
ul li{
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
}
